:root {
}

#HeaderRow {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.table-col {
    flex-direction: column;
    align-self: flex-end;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
}

.table-col-header {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    -unity-font-definition: url("project://database/Assets/Fonts/BarlowCondensed/BarlowCondensed-Bold.ttf?fileID=12800000&guid=5f7b0a079acd8ec449b1459679e8abbf&type=3#BarlowCondensed-Bold");
    color: rgba(244, 244, 244, 0.38);
}

.table-col-label {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 11px;
    padding-right: 10px;
    padding-bottom: 11px;
    padding-left: 10px;
    -unity-font-definition: url("project://database/Assets/Fonts/BarlowCondensed/BarlowCondensed-Bold.ttf?fileID=12800000&guid=5f7b0a079acd8ec449b1459679e8abbf&type=3#BarlowCondensed-Bold");
    align-self: flex-start;
    color: rgba(244, 244, 244, 0.38);
}

#RateTypeSelector Label {
    align-self: center;
}

#RateTypeSelector VisualElement {
    background-color: rgb(42, 45, 48);
    border-left-color: rgba(244, 244, 244, 0.07);
    border-right-color: rgba(244, 244, 244, 0.07);
    border-top-color: rgba(244, 244, 244, 0.07);
    border-bottom-color: rgba(244, 244, 244, 0.07);
}

#RateTypeSelector VisualElement TextElement {
    -unity-font-definition: url("project://database/Assets/Fonts/BarlowCondensed/BarlowCondensed-Bold.ttf?fileID=12800000&guid=5f7b0a079acd8ec449b1459679e8abbf&type=3#BarlowCondensed-Bold");
}

#RateTypeSelector VisualElement VisualElement {
    -unity-font-definition: url("project://database/Assets/Fonts/BarlowCondensed/BarlowCondensed-Bold.ttf?fileID=12800000&guid=5f7b0a079acd8ec449b1459679e8abbf&type=3#BarlowCondensed-Bold");
    color: rgb(19, 27, 27);
    background-color: rgb(42, 45, 48);
    -unity-background-image-tint-color: rgb(6, 10, 13);
}
